*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../IMG/lotoBackground.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 50px
}

section .box{
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    transition: .5s;
    border: 2px solid #fff;
    border-radius: 10px;
    position: relative;
}

section .box.active {
    background-color: green;
}

section .box.active img{
   opacity : 1;
   transition-duration: 3s;
}


section .box img{
    width: 130px;
    position : absolute;
    opacity : 0;
}